.wrapper {
  display: flex;
  flex-direction: column;
 
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.title {
  font-size: 1.rem;
  font-weight: 600;
  color: #3835aa;
  margin: 0;
}

.timeFilter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #3835aa;
  font-size: 0.875rem;
  cursor: pointer;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;
}

.leftColumn {
  flex: 1;
}

.rightColumn {
  flex: 1;
}

/* Desktop Layout */
@media (min-width: 768px) {
  .contentWrapper {
    flex-direction: row;
  }
  
  .leftColumn {
    max-width: 50%;
  }
  
  .rightColumn {
    max-width: 50%;
  }
}