/* .logoBox {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.health {
  color: #00e3e9 !important;
}

.care {
  color: #3734a9 !important;
}


   */
   .logoBox {
    display: flex;
    align-items: center;
    min-width: max-content; /* Prevent logo from shrinking */
  }
  
  .health {
    font-size: 24px;
    font-weight: bold;
    color: #3734a9;
  }
  
  .care {
    font-size: 24px;
    font-weight: bold;
    color: #4a90e2;
  }
  
  @media (max-width: 480px) {
    .health,
    .care {
      font-size: 16px;
    }
  }