/* styles/SimpleAppointmentCard.module.css */
.appointmentCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e9fc;
  border-radius: 12px;
  padding: 14px 18px;
  margin-bottom: 12px;
  min-width: 180px;
  max-width: 220px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.cardContent h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #3734a9;
}

.cardContent p {
  margin: 4px 0 0;
  font-size: 13px;
  color: #f6faff;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.emoji {
  font-size: 18px;
  color: #fff;
}

