* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6effb; 
  color: #333;
}


.app-container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto; 
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); 
}




.content-wrapper {
  display: flex;
  flex: 1; 
}




.main-content {
  flex: 1;
  padding: 1.5rem;
 
}

